@using RentACar.Data.Models
@using Microsoft.AspNetCore.Identity

@model CommentsModel
@inject SignInManager<User> SignInManager

<div class="coment-bottom bg-white p-2 px-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_CommentFormPartial" model="@Model.CommentFormModel" />
    }

    @if (Model.Comments.Any())
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> 
                            <span>
                                <small class="font-weight-bold">@comment.CommentMessage</small>
                            </span> 
                    </div> 
                    <small>@comment.CommentDate.ToShortDateString()</small>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="reply px-4"> <small>Remove</small></div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>There are no comments yet!</h3>
    }
</div>